* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in;
}

#first{
    background-image: url(/images/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;

}


body{
    text-align: center;
}