* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in;
}

body{
    text-align: center;
}

#first{
    background-image: url(/images/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 49vh;
}

#second{
    margin: 60px auto;
    color: black;

}

#third{
    background-image: url(/images/s_image.jpg);
    color: white;
    padding: 100px;
    font-size: larger;
}
#fourth{
    margin-top: 40px;
    margin-bottom: 50px;
    color: black;
    font-size: x-large;
    font-weight: bolder;
}
.our,.all,.planning{
    display: none;
    margin-top: 5px;
}

.container{
    color: black;

} 
#portfolio,#portfolio2{
    display: flex;
    justify-content: space-between;
    margin: 5px;
     padding: 5px;
} 
/* #portfolio img:hover,#portfolio2 img:hover{
    background-color: rgb(223, 207, 207);
} */

/* #port1:hover{
  background-color: rgb(206, 28, 28);
} */

span{
  margin-left: 0;
  width: 100%;
}


#contact{
    background-image: url(/images/c_image.jpg);
    padding: 40px 5px;
  color: white;
  max-width: 100vw
}
.message{
    padding: 3px 15px;
    margin: 7px 2px;
    width: 700px;
    max-width: 89%;
  }
  form{
    width: 700px;
    max-width: 90%;
  }
  ::placeholder{
    color: rgb(204, 204, 204);
  }
  form input{
    width:49%;
  }
  form input, form textarea{
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 7px;
  }
  form textarea{
    margin-top: 20px;
    width: 98.8%;
  }